:root {
    --color-body: #256C31; \* 213d33 *\
    --color-shapka: #121c17;
    --color-hover-active: #2b5641;
    --color-download: #4CAF50;
    --text-color-light: #f0f0f0;
    --text-color-white: white;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--color-body);
}

.shapka {
    overflow: hidden;
    background-color: var(--color-shapka);
    padding: 20px 10px;
    display: flex; 
    align-items: center;
    justify-content: space-between; 
}

.shapka-logo img {
    height: 50px; 
}

.shapka-links {
    display: flex;
}

.shapka-links a {
    color: var(--text-color-light);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    margin-left: 10px;
}

.shapka-links a:hover {
    background-color: var(--color-hover-active);
    color: var(--text-color-white);
}

.shapka-links a.active {
    background-color: var(--color-hover-active);
    color: var(--text-color-white);
}
.shapka-links a.download {
    background-color: var(--color-download);
    color: var(--text-color-white);

}
