:root {
    --color-body: #213d33; /* Цвет всей страницы body */
    --color-shapka: #121c17; /* Цвет шапки, то что наверху */
    --color-hover-active: #2b5641; /* Цвет активной кнопки, в которой сейчас */
    --color-download: #4CAF50; /* Цвет кнопки скачать плагин */
    --text-color-light: #f0f0f0; /* Цвет для текста 1 */
    --text-color-white: white; /* Цвет для текста 2 */
}


/**/

* {
    box-sizing: border-box;
}
/* ======= Главные стили всей страницы ======= */
body { 
    font-family: Arial, Helvetica, sans-serif; /* Шрифт текста */
    margin: 0; /* отступы блоков на странице*/
    background-color: var(--color-body); /* Главный фон страницы*/
    width: 100%;
    height: 100vh;
}


/*  ==== ==== */
.frame {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ======= Стили шапки сайта, то что наверху ======= */

/* === Главные стили шапки === */
.shapka { 
    width: 100%;
    overflow: hidden; /* Скрывает то что не поместилось */
    background-color: var(--color-shapka); /* Главный цвет */
    padding: 20px 10px; /* Установка разных отступов */
    display: flex; /* управление расположением элементов внутри контейнера */
    align-items: center /* Выравнивает элементы внутри контейнера по центру */;
    justify-content: space-between;
    position: relative;
}

/* ===== Стили логотипа в шапке ===== */
.shapka-logo {
    display: flex; /* управление расположением элементов внутри контейнера */
    align-items: center /* Выравнивает элементы внутри контейнера по центру */;
    gap: 10px;
}

/* === Стили изображения в шапке === */
.shapka-logo img {
    height: 50px;
}

/* === Стили названия плагина в шапке ===*/
.shapka-title {
    color: var(--text-color-white);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    line-height: 1;
}
/* === Стили названия плагина в шапке для ссылки === */
.shapka-title a {
    text-decoration: none;
    color: var(--text-color-white);
} 

/* Стили кнопок 1 */
.shapka-links {
    width: 100%;
    display: flex; /* управление расположением элементов внутри контейнера */
    gap: 10px;
    justify-content: end;
}

/* === Стили кнопок 2 === */
.shapka-links a {
    color: var(--text-color-light);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

/**/
.shapka-links a:hover {
    background-color: var(--color-hover-active);
    color: var(--text-color-white);
}

/*  === Стили активной кнопки в шапке === */
.shapka-links a.active {
    background-color: var(--color-hover-active);
    color: var(--text-color-white);
}

/* === Стили кнопки скачать === */
.shapka-links a.download {
    background-color: var(--color-download);
    color: var(--text-color-white);
}

/* === Стили меню в шапке === */
.menu-toggle {
    width: 100%;
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: var(--text-color-white);
    cursor: pointer;
}


/* ======== Стили контента после шапки ======== */

.content {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/assets/img/ava.png);
    background-position: center; 
    background-size: cover;
    padding: 100px 20px;
    text-align: center;
}
.content-title h1, .content-title p {
    color: var(--text-color-white);
}
.content-btns a{
    color: var(--text-color-white);
    text-align: center;
    padding: 12px;
    margin-left: 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 10px;
}

.btns-download {
    background-color: var(--color-download);
    color: var(--text-color-light);
}

.btns-bolshe {
    background-color: #627e70;
    color: var(--text-color-light);
}


/* Кнопки при наведения */
.content-btns a {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}
.content-btns a:hover {
    box-shadow: 0 0 12px var(--color-download);
    -moz-box-shadow: 0 0 12px var(--color-download);
    -o-box-shadow: 0 0 12px var(--color-download);
    -ms-box-shadow: 0 0 12px var(--color-download);
    -webkit-box-shadow: 0 0 12px var(--color-download);
}




