:root {
    --color-body: #213d33;
    --color-shapka: #121c17;
    --color-hover-active: #2b5641;
    --color-download: #4CAF50;
    --text-color-light: #f0f0f0;
    --text-color-white: white;
}